<div class="card">
  <div class="card-header">
    {{componentState}}
  </div>
  <div class="card-body">
    <form #itemForm="ngForm">
      <label>Code:</label>
      <input name="Code" type="text" class="form-control" [(ngModel)]="item.Code" required />

      <label>Name:</label>
      <input name="Name" type="text" class="form-control" [(ngModel)]="item.Name" required />
      
      <label>Description:</label>
      <input name="Description" type="text" class="form-control" [(ngModel)]="item.Description" required />

      <label>Active:</label>
      <input name="Active" type="checkbox" class="" [(ngModel)]="item.Active" />

      <hr />

      <ng-container *ngIf="componentState=='Edit'; else elseTemplate">
        <button (click)="onEdit()" class="btn btn-success" [disabled]="!itemForm.form.valid">Save</button>
      </ng-container>
      <ng-template #elseTemplate>
        <button (click)="onAdd(); itemForm.reset()" class="btn btn-success" [disabled]="!itemForm.form.valid">Add</button>        
      </ng-template>
      <a routerLink="/a/items" class="btn btn-warning">Close</a>
      

    </form>
  </div>
</div>
